@font-face {
    font-family: Birdy;
    src: url("./Birdy.ttf");
}


html {
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Birdy, sans-serif;
}

input {
    width: 70%;
    border-radius: 5px;
}

ul {
    list-style: none;
}


.logo {
    width: 30px;
    height: 30px;
}

.content {
    width: 90%;
    max-height: 70%;
    padding: 20px;
    border-top-left-radius: 10px;
    border: solid lightgrey 0.5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contentmedia {
    overflow: hidden;
    max-width: 20vw;
    height: auto;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 30px;

}

.trendingtag {
    margin-bottom: 10px;
}

.contentlogo {
    width: 30px;
    height: 30px;
}

.contentinteractionlist {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.contenttext {
    margin-bottom: 20px;
}

.contentprofile {
    width: 100%;
    display: flex;
    align-items: center;
}

.contentprofilepicture {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-right: 10px;
}

.contentprofilename {
    font-size: 1.2rem;
    font-weight: bold;
}

.trendingtag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingnumber {
    font-size: 0.8rem;
    color: #808080;
}

.friendpp {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}

.connected {
    position: relative;
    left: -30px;
    bottom: -15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: white 1px solid;
    background: lawngreen;
}

.friend {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.offline {
    position: relative;
    left: -30px;
    bottom: -15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: white 1px solid;
    background: dimgrey;
}

.friendname {
    align-self: center;
}

.settingtitle {
    margin-bottom: 20px;
}

.setting {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.settingtext {
    border: solid lightgrey 0.5px;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    resize: none;
    width: 70%;
}

.settingsubmit {
    height: 40px;
    width: 80px;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.contentheader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.contentdate {
    align-items: center;
}


#mainpage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#control {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contentpage {
    width: 40vw;
    min-height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navigationbar {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#disconnect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
}


#newpost {
    height: 5vw;
    max-height: 100px;
    width: 95%;
    border: solid lightgrey 0.5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
}

#settingspage {
    width: 40vw;
    min-height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border: solid lightgrey 0.5px;
    border-radius: 20px;
    margin-top: 3vw;
    padding: 40px;
}
 #newpostpicture {
     width: 50px;
     height: 50px;
     border-radius: 40px;
     margin-right: 20px;
 }

 #newposttext {
     border: none;
     padding: 10px;
     height: 60%;
     font-size: 1.5rem;
 }

 #newpostmedia {
     width: 10%;
     height: 30%;
 }

 #trending {
     width: 60%;
     margin-top: 20px;
     border: solid lightgrey 0.5px;
     border-radius: 20px;
     padding: 20px;
 }

 #trendingtitle {
     margin-bottom: 10px;
     font-size: 1.2rem;
     font-weight: bold;
 }

#messagelist {
    width: 60%;
    margin-top: 20px;
    border: solid lightgrey 0.5px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

#settingbio {
    height: 20px;
}

#noposts {
    display: flex;
    flex-direction: column;
}